<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    

    
<div class = "login">
    <form id="login-form" class="login-form">
        <div class="login-form__content">
            <div class="login-form__header">Log in to your account</div>
            <input class="login-form__input" type="text" id="email" placeholder="Email">
            <input class="login-form__input" type="password" id= "password" placeholder="Password">
            <button class="login-form__button" type="submit">Log In</button>

            
        </div>
    </form>
</div>
    
    
</body>
<script src="loginform.js"></script> 