<%- include('./partials/header.ejs')  %> 
<body>
<%- include('./partials/navbar.ejs')  %> 

    <br>
    <h1>Updating Books</h1>
    <form action= "/update/<%= id  %>  " id="update-book" method="POST">
        <input type="text" id="title" placeholder="Name" name="title">
        <input type="text" id="author" placeholder="Author" name="author">
        <input type="number" min='0' max='2021' id="date" placeholder="Year" name="date">
        <select id="category" name="category" placeholder="Category">
            <option value="Romance">Romance</option>
            <option value="Horror">Horror</option>
            <option value="Comedy">Comedy</option>
            <option value="Mystery">Mystery</option>
            <option value="Action">Action</option>
            <option value="Drama">Drama</option>
          </select>
        <input type="number" min='0' max='10' id="vote" placeholder="Vote" name="vote">
        <button type="submit">Submit</button>
    </form>

</body>
</html>